/* Tablet Landscape: 901px - 1100px */

@media (max-width: $tablet-landscape-breakpoint){
	$font-size-responsive: 15;
	$zoom: $font-size / $font-size-responsive;
	html{
		font-size: ($font-size-responsive * 1px);
	}
	.paragraph{
		font-size: 16px;
	}
	.paragraph-big{
		font-size: 18px;
	}
	.hero{
		&__holder{
			min-height: px(380 * $zoom);
		}
	}
	.stats{
		&__value{
			font-size: px(30 * $zoom);
		}
	}
	.header{
		&__menu{
			li{
				a{
					font-size: 14px;
				}
			}
		}
	}
	.image-with-description{
		&__text{
			font-size: 16px;
		}
	}
	.icon-multilist{
		&__list{
			li{
				font-size: 16px;
			}
		}
	}
	.lottery-terminals{
		&__list{
			li{
				font-size: 16px;
			}
		}
	}
	.accessories{
		&__name{
			font-size: 16px;
		}
	}
	.articles{
		&__header{
			padding-top: px($desktop-vertical-space / 2);
		}
		&__hero{
			height: px(400 * $zoom);
		}
		&__text{
			p{
				font-size: 16px;
			}
			ul, ol{
				li{
					font-size: 16px;
				}
			}
		}
	}
	.contact{
		&__anchor{
			&-text{
				font-size: 16px;
			}
		}
	}
}