/* Tablet Portrait: 651px - 900px */

@media (max-width: $tablet-portrait-breakpoint){
	$font-size-responsive: 14;
	$zoom: $font-size / $font-size-responsive;
	html{
		font-size: ($font-size-responsive * 1px);
	}
	.header{
		&__menu{
			opacity: 0;
			pointer-events: none;
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: #fff;
			transition: opacity $transition;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			&.active{
				opacity: 1;
				pointer-events: auto;
			}
			li{
				margin-right: 0;
				margin-bottom: 30px;
				&:last-child{
					margin-bottom: 0;
				}
				a{
					font-size: 16px;
				}
			}
			&-item-mobile{
				display: block;
			}
		}
		&__hamburger{
			display: block;
		}
	}
	.hero{
		&__holder{
			min-height: 52vw;
			.paragraph-big{
				max-width: 70vw;
			}
		}
	}
	.products-services{
		&__holder{
			margin-top: 0;
		}
		&__column{
			flex-basis: 48%;
			margin-right: 4%;
			&:last-child{
				padding-top: 0;
			}
		}
		&__item{
			margin-bottom: ((100 / 48) * 4 * 1%);
			&-body{
				padding: ($desktop-horizontal-space * 1px);
			}
		}
	}
	.clients{
		$margin: 4;
		&__row{
			margin-bottom: ($margin * 1%);
		}
		&__logo{
			flex-basis: flex-basis(3, $margin);
			margin-right: ($margin * 1%);
		}
	}
	.news{
		&__item{
			flex-basis: 48%;
			margin-right: 4%;
		}
	}
	.article-preview{
		&__text{
			padding: ($desktop-horizontal-space * 1px);
		}
	}
	.stats{
		&__value{
			&:before{
				width: 30px;
			}
		}
		.paragraph{
			font-weight: 700;
		}
	}
	.footer{
		padding-top: 60px;
		padding-bottom: 60px;
		&__logo{
			width: 70px;
			height: 26px;
		}
		&__holder{
			flex-wrap: wrap;
		}
		&__column{
			flex-basis: flex-basis(3, 4);
			margin-right: 4%;
			&:first-child{
				flex-basis: 100%;
				margin-right: 0;
				padding-bottom: ($desktop-horizontal-space * 1px);
				margin-bottom: ($desktop-horizontal-space * 1px);
				border-bottom: 1px solid #ddd;
			}
		}
	}
	.image-with-description{
		&__plate{
			width: 48%;
			padding: ($desktop-horizontal-space * 1px);
		}
		&__holder{
			min-height: 350px;
		}
		&__illustration{
			top: 50px;
			height: 300px;
		}
	}
	.use-cases{
		&__row{
			margin-bottom: px($desktop-vertical-space / 2);
		}
		&__item{
			margin-left: 0;
			margin-right: 4%;
			flex-basis: 48%;
		}
	}
	.heading-holder{
		&--narrow-text{
			.heading-holder__item{
				&:last-child{
					flex-basis: 48%;
				}
			}
		}
		&__item{
			flex-basis: 48%;
			margin-right: 4%;
		}
	}
	.players-experience{
		&__illustration{
			height: 49vw;
		}
	}
	.split-content{
		&__item{
			flex-basis: 48%;
			margin-right: 4%;
		}
	}
	.lotto-betting{
		padding-top: 225px;
		margin-top: -132px;
	}
	.other-games{
		&__column{
			flex-basis: 48%;
			margin-right: 4%;
			&--offset{
				padding-top: 0;
			}
		}
		&__item{
			width: 100%;
		}
	}
	.overplate-text{
		&__plate{
			width: 100%;
			padding: 40px;
		}
	}
	.overprint-image{
		&__holder{
			align-items: flex-start;
		}
		&__illustration-holder{
			flex-basis: 48%;
		}
		&__text-holder{
			flex-basis: 48%;
		}
	}
	.game-embed{
		&__mobile{
			&-plate{
				$plate-offset: px(150);
				height: calc(100% - #{$plate-offset});
			}
		}
		&__desktop{
			display: none;
		}
	}
	.related-products{
		&__wrapper{
			width: 100%;
		}
		.heading-1{
			text-align: center;
		}
	}
	.logo-text{
		&__icons{
			flex-basis: 48%;
			margin-right: 4%;
		}
		&__description{
			flex-basis: 48%;
		}
	}
	.icon-multilist{
		&__holder{
			display: block;
		}
		&__column{
			display: flex;
			justify-content: space-between;
			margin-right: 0;
			margin-bottom: px($desktop-vertical-space);
			&:first-child{
				flex-direction: row-reverse;
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
		&__item{
			margin-bottom: 0;
			flex-basis: 48%;
		}
		.heading-1{
			br{
				display: none;
			}
		}
	}
	.lottery-terminals{
		&__holder{
			flex-wrap: wrap;
		}
		&__column{
			flex-basis: 48%;
			margin-right: 4%;
			&:first-child{
				flex-basis: 100%;
				margin-bottom: px($desktop-vertical-space / 2);
				margin-right: 0;
			}
		}
		&__illustration{
			max-width: 250px;
		}
	}
	.articles{
		&__item{
			flex-basis: 48%;
			margin-right: 4%;
			&:nth-child(3n){
				margin-right: 4%;
			}
			&:nth-child(2n){
				margin-right: 0;
			}
		}
		&__hero{
			margin-bottom: 0;
		}
		&__text{
			max-width: none;
			padding: px($desktop-vertical-space / 2) 0 0 0;
			border-radius: 0;
		}
		&__button-holder{
			max-width: none;
			padding-left: 0;
			padding-right: 0;
		}
	}
	.locations{
		&__holder{
			justify-content: space-between;
		}
		&__column{
			flex-basis: 48%;
			margin-right: 0;
		}
	}
	.team{
		&__holder{
			width: 100%;
		}
		&__item{
			flex-basis: 30.66%;
			margin-right: 4%;
		}
	}
}